<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="General">
	<setting label="TamilGunURL" type="text" id="tamilgunurl" default="http://tamilgun.cool"/>
	<setting label="TamilDboxURL" type="text" id="tamildboxurl" default="http://www.tamildbox.me/filter"/>
	<setting type="action"
                 label="Clear cache" action="RunScript($CWD/libs/commands.py,clear_cache)" />
        <setting type="action"
                 label="Clear Download Directory" action="RunScript($CWD/libs/commands.py,clear_data)" />
</category>	
<category label="Download">
          <setting id="download_dir" type="folder" label="Base download folder" default="" />
</category>
</settings>
