<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
<category label="General">
	<setting label="TamilGunURL" type="text" id="tamilgunurl" default="http://tamilgun.cool"/>
	<setting label="TamilDboxURL" type="text" id="tamildboxurl" default="http://www.tamildbox.me/filter"/>
</category>	
</settings>
